<div ng-controller="ShoeController as vm">
    <!-- <div>
    {{vm}}
    </div> -->
    <div class="input-group mb-3" ng-model="vm.newShoe.name">
        <input type="text" placeholder="Name" ng-model="vm.newShoe.name">
        <input type="number" placeholder="Cost" ng-model="vm.newShoe.cost">
        <div ng-submit="vm.createTodo()">
            <button ng-click="vm.shoe.query">Add Shoe</button>
            <!-- <input type="date"> -->
        </div>
    </div>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Cost</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="shoe in vm.shoeShelf">
                <td>
                    <input type="text" ng-model="shoe.name" />
                </td>
                <td>
                    <input type="number" ng-model="shoe.cost" />
                </td>
                <!-- <td>
                    <button ng-model="vm.deleteShoe()">Delete</button>
                </td>
                <td>
                    <button ng-click="vm.editShoe()">Save</button>
                </td> -->
            </tr>
        </tbody>
    </table>
</div>